<!DOCTYPE HTML>
<html lang="pt-br">
<div th:insert="header :: topo"></div>
<div class="mx-auto" style="width: 90%">

	<head>
		<title>Prova</title>
	</head>

	<body>
		<form action="#" th:action="@{/vendedores/salvar}" th:object="${vendedor}" method="post">
			<input type="hidden" th:field="*{id}" />
			<label>Nome: </label>
			<input type="text" th:field="*{nome}" /><br />
			<label>Salario: </label>
			<input type="text" th:field="*{salario}" /><br />
						
			<button type="submit" class="btn btn-success"> Salvar </button>
		</form>
	</body>
	<div th:insert="footer :: rodape"></div>

</html>